<%- include('partials/header.ejs') %>

<div class="container text-center">
  <h1>Productos</h1>
  <div class="row mt-4">
    <div class="col">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for (var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= data[i].fecha %></td>
                <td><%= data[i].cliente %></td>
                <td><%= data[i].monto_total %></td>
              </tr>
            <% } %>
          <% } else { %>
            <tr>
              <td colspan="4">No se encontraron compras recientes.</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
